@using TeampulseReporting.Helpers;
@model TeampulseReporting.Models.IndexViewModel 
@{ 
    View.Title = "Iterations"; 
    Layout= "~/Views/Shared/_Blueprint.cshtml"; 
}
<h1>Iterations</h1>
@using(Html.BeginForm("Date","DoneItems",FormMethod.Get))
{
    <fieldset>
        @Html.Label("From date")
        @Html.TextBox("fromDate",null, new{@class="datepicker"} )
        @Html.Label("To date")
        @Html.TextBox("toDate",null,  new{@class="datepicker"} )
        @Html.Hidden("date-pattern", Html.ConvertDateFormat())
        <div>
            <button type="submit">View done items</button>
        </div>
    </fieldset>
}
<table>
<thead>
    <th>StartDate</th>
    <th>EndDate</th>
    <th>Name</th>
</thead>
<tbody>
    @foreach (var it in Model.Iterations){
    <tr>
    <td>@it.StartDate.ToShortDateString()</td>
    <td>@it.EndDate.ToShortDateString()</td>
    <td>@Html.ActionLink(it.Name,"Index", 
                            "DoneItems",new{id = it.IterationID},
                            new {title=Model.GetIterationDisplayName(it)})</td>
    </tr>
    }
    </tbody>
</table>
