@model IEnumerable<TeampulseReporting.Models.DoneItem>

<table>
    <thead>
        <th></th>
        <th>TeampulseId</th>	
        <th>Name</th>
        <th>Date</th>
        <th>User</th>
        <th>Application Area</th>
    </thead>
    <tbody>
    @foreach (var donePb in Model)
    {
        <tr>
			<td><a class="description-link" href="#">details</a></td>
            <td>@donePb.TeampulseId</td>
            <td>@donePb.Name</td>
            <td>@donePb.DoneDate.ToShortDateString()</td>
            <td>@donePb.DoneBy</td>
            <td>@donePb.AreaName</td>
        </tr>
        <tr></tr>
        <tr class="description">
            <td></td>
            <td colspan="4">@donePb.Description</td>
        </tr>
    }
    </tbody>
</table>

